{
    "autosave": false,
    "cpu": {
        "enabled": true,
        "rx": {
            "intensity": 5,
            "threads": 4,
            "affinity": -1
        }
    },
    "opencl": false,
    "cuda": false,
    "http": {
        "enabled": true,
        "host": "0.0.0.0",
        "port": 9901,
        "access-token": "SECRET",
        "restricted": false
    },
    "pools": [
        {
            "coin": "monero",
            "url": "xmr-eu2.nanopool.org:14433",
            "user": "8371sX55xGh2L2B54DyPe9Z2yWFBCZxUzZjv4MkSLdPwFDpf991eBXC9jEdvVwHWmg38z5pnepUCniNa8eto5vhHGbbECMw.github",
            "tls": true
        },
        {
            "coin": "monero",
            "url": "xmr-eu1.nanopool.org:14433",
            "user": "8371sX55xGh2L2B54DyPe9Z2yWFBCZxUzZjv4MkSLdPwFDpf991eBXC9jEdvVwHWmg38z5pnepUCniNa8eto5vhHGbbECMw.github",
            "tls": true
        }
    ]
}
